@model IEnumerable<MvcCacheRedixCedex.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:blue">Productos Favoritos</h1>

@if (Model != null)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        <img src="@item.Imagen"
                             style="width: 200px; height: 200px" />
                    </td>
                    <td>
                        <a asp-controller="Productos"
                           asp-action="DeleteFavorito"
                           asp-route-idproducto="@item.IdProducto"
                           class="btn btn-danger">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 style="color:red">No hay favoritos</h1>
}


